<div>
  <button mat-flat-button (click)="sendMessages(1)">Send 1 Message</button>
  <button mat-flat-button (click)="sendMessages(100)">Send 100 Messages</button>
  <button mat-flat-button (click)="sendMessages(1000)">
    Send 1000 Messages
  </button>
  <button mat-flat-button (click)="sendMessages(5000)">
    Send 5000 Messages
  </button>
  <button mat-flat-button (click)="sendMessages(7500)">
    Send 7500 Messages
  </button>
  <button mat-flat-button (click)="sendMessages(10000)">
    Send 10000 Messages
  </button>
</div>
