<div>
  <button mat-flat-button (click)="sendMessagesDirect(1)">
    Send 1 Message Direct
  </button>
  <button mat-flat-button (click)="sendMessagesDirect(100)">
    Send 100 Messages
  </button>
  <button mat-flat-button (click)="sendMessagesDirect(1000)">
    Send 1000 Messages
  </button>
  <button mat-flat-button (click)="sendMessagesDirect(5000)">
    Send 5000 Messages
  </button>
  <button mat-flat-button (click)="sendMessagesDirect(7500)">
    Send 7500 Messages
  </button>
  <button mat-flat-button (click)="sendMessagesDirect(10000)">
    Send 10000 Messages
  </button>
</div>
